section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  font-size: large;
}

dt,
dd {
  margin: 0;
}

.health {
  color: green;
}

.energy {
  color: red;
}

.stats-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
