.opponent-info {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  background-color: lightpink;
}

h2 {
  align-self: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  text-wrap: wrap;
}

.placeholder {
  width: 10rem;
  height: 15rem;
  background-color: azure;
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder > p,
.placeholder ::deep .card-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder ::deep .card-article {
  width: 8rem;
  min-height: 11rem;
}

.placeholder ::deep img {
  min-height: 4rem;
  max-height: 4rem;
}

.title {
  border-bottom: 1px solid black;
  font-weight: bold;
}
