section {
  display: flex;
  min-height: 10rem;
}

.pile-group {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  align-items: flex-end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
